/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropdown-btn {
    background-color: transparent;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#343A40;
    min-width: 160px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;

}

/* Dropdown links */
.dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Hover effect */
.dropdown-content a:hover {

}

/* Show dropdown when active */
.dropdown.show .dropdown-content {
    display: block;
}

